{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block contenido %}

	{% if filter == "form" %}

		<h2>Listar por</h2>

		<form action="{{url_for('task_list')}}" method="POST" novalidate>

			<dl>
				{{ form.csrf_token }}
				{{ wtf.form_field(form.prioridad) }}
				{{ wtf.form_field(form.estado) }}
			</dl>

			<input class="btn btn-primary form-control" type="submit" value="Filtrar lista">

		</form>

	{% endif %}

	<h2>Lista de tareas</h2>

	<table class='table table-striped'>

		<tr>
			<th>ID</th>
			<th>Fecha</th>
			<th>Descripcion</th>
			<th>Prioridad</th>
			<th>Estado</th>
		</tr>

		{% for task in task_list %}

			<tr>
				<td>
					{{task.id}}
				</td>
				<td>
					{{task.fecha}}
				</td>
				<td>
					{{task.descripcion}}
				</td>
				<td>
					{{task.prioridad}}
				</td>
				<td>
					{{task.estadostr}}
				</td>
			</tr>

		{% endfor %}
	
	</table>

{% endblock %}
