{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Ejercicio 02{% endblock %}
{% block content %}

	<div class="container">

	    <h2>Listado de paises del mundo</h2>
	    <ul class="list-group">

			<li class="list-group-item"><a href="{{url_for('all_countries_result')}}">Todos los paises</a></li>
			<li class="list-group-item"><a href="{{url_for('europe_result')}}">Paises de "Europa"</a></li>
			<li class="list-group-item"><a href="{{url_for('without_money')}}">Paises que no tienen definida moneda</a></li>

		</ul>
  
		
		<form action="{{url_for('root')}}" method="POST">

			{{form.csrf_token}}
			{{wtf.form_field(form.countries)}}

			<input class="btn btn-primary form-control" type="submit" value="Ver paises">

		</form>

	</div>

{% endblock %}
