{% extends "base.html" %}
{% block title %}Ejercicio 01{% endblock %}
{% block contenido %}
	    <h2>Listado de paises del mundo</h2>
	    <ul class="list-group">

			<li class="list-group-item"><a href="{{url_for('all_countries_result')}}">Todos los paises</a></li>
			<li class="list-group-item"><a href="{{url_for('europe_result')}}">Paises de "Europa"</a></li>
			<li class="list-group-item"><a href="{{url_for('without_money')}}">Paises que no tienen definida moneda</a></li>

		</ul>
  
{% endblock %}
